<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- jquery-confirm -->
<link href="/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
<!-- jquery-confirm -->
<script src="/jquery-confirm/jquery-confirm.min.js"></script>


<!-- right_content -->
<div class="" id="right_content">

    <div class="page-title">
        <div class="title_left">
            <h3>계정 관리</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Form Design <small>different form elements</small></h2>
                    <!--<ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="dropdown-item" href="#">Settings 1</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>-->
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" name="dataForm" method="post"
                          th:action="@{/modify}" th:object="${admin}">

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">사용자ID<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" id="adminId" name="adminId" required="required" class="form-control" readonly
                                       th:value="${admin.getAdminId()}">
                            </div>
                        </div>
                       <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">사용자명 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" id="admin_name" name="adminName" required="required" class="form-control"
                                       th:value="${admin.getAdminName()}">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">전화번호 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" id="phone" name="phone" required="required" class="form-control"
                                       th:value="${admin.getPhone()}" placeholder="“-”없이 입력해 주세요">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">이메일 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" id="email" name="email" required="required" class="form-control"
                                       th:value="${admin.getEmail()}">
                            </div>
                        </div>
                        <!--
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">비밀번호 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="password" id="admin_password" name="password" required="required" class="form-control" readonly
                                       th:value="${admin.getPassword()}">
                            </div>
                        </div>
                        -->
                        <!--<div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="">사용자SEQ <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" id="admin_seq" name="adminSeq" required="required" class="form-control" readonly
                                       th:value="${admin.getAdminSeq()}">
                            </div>
                        </div>-->

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="">사용자그룹권한<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <select class="form-control col-md-7 col-xs-12" id="admin_group_seq" name="adminGroupSeq" >
                                    <option th:each="adminGroup : ${adminGroups}"
                                            th:value="${adminGroup.getAdminGroupSeq()}"
                                            th:text="${adminGroup.getName()}"
                                            th:selected="(${adminGroup.getAdminGroupSeq()} == ${admin.getAdminGroupSeq()})" ></option>
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="">등록일 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="regDate1" required="required" class="form-control" readonly
                                       th:value="${#dates.format(admin.getRegDate(),'yyyy-MM-dd HH:mm')}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="">수정일 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="modDate1" required="required" class="form-control" readonly
                                       th:value="${#dates.format(admin.getModDate(),'yyyy-MM-dd HH:mm')}">
                            </div>
                        </div>

                        <!--
                        <div class="item form-group">
                            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Admin Age</label>
                            <div class="col-md-6 col-sm-6 ">
                                <input id="admin_age" class="form-control" type="text" name="admin_age">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                            <div class="col-md-6 col-sm-6 ">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="gender" value="male" class="join-btn"> &nbsp; Male &nbsp;
                                    </label>
                                    <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="gender" value="female" class="join-btn"> Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">Admin Auth <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input id="admin_auth" class="date-picker form-control" required="required" type="text">
                            </div>
                        </div>
                        -->
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button class="btn btn-primary" type="button" onclick="javascript:page_move('/admin/user/search')" th:text="#{common.button.list}"></button>
                                <button class="btn btn-danger" type="button" id="remove" th:text="#{common.button.delete}"></button>
                                <button class="btn btn-success" type="button" id="save" th:text="#{common.button.save}"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /right_content -->

<script src="/mobilepark_confirm.js"></script>

<script type="text/javascript">
$(document).ready(function() {

    $('#save').click(function()
    {
        var adminIdEmail = $("#adminId").val();
        var adminPhone = $("#phone").val();
        var email = $("#email").val();

        if ( !chkEmail(adminIdEmail) ) {
            return false;
        }

        if ( !chkPhone(adminPhone) ){
            return false;
        }

        if ( !chkEmailform(email) ){
            return false;
        }

        var queryString = $("form[name=dataForm]").serialize();

        $.ajax({
            type : 'post',
            url : '/admin/user/modify.json',
            data : queryString,
            //dataType : 'json',
            success: function (response) {
                //console.log(response);
                //alert(response);
                //page_move("/admin/user/search");

                alertModal(response, "/admin/user/search");

            },
            error: function (response) {
                console.log(response);
            }
        });

    });

    $('#remove').click(function(){
        var data = {
            adminId: $('#adminId').val()
        };

        /*<![CDATA[*/
        var confirmcontent = "[[ #{common.confirm.remove} ]]";
        var confirmtext = "[[ #{common.button.confirm} ]]";
        /*]]>*/

        $.confirm({
            title: "",
            content: confirmcontent,
            buttons : {
                confirm: {
                    text: confirmtext,
                    btnClass : "btn btn-xs btn-danger",
                    action : function() {
                        $.ajax({
                            type : 'post',
                            url : '/admin/user/remove.json',
                            data : data,
                            //dataType : 'json',
                            success: function (response) {
                                //console.log("success");
                                //alert(response);
                                //page_move("/admin/user/search");
                                alertModal(response, "/admin/user/search");
                            },
                            error: function (request, error) {
                                console.log("error");
                                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                            }
                        });
                    }
                }, // confirm
                cancel : {
                    text : "취소",
                    btnClass : "btn btn-xs btn-secondary"
                }
            }
        });
        //page_move("/admin/user/search");

    });
});

</script>

</html>
