<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- right_content -->
<div class="" id="right_content">

    <div class="page-title">
        <div class="title_left">
            <h3>권한 관리</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>등록</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="dataForm" data-parsley-validate class="form-horizontal form-label-left" name="dataForm" method="post" data-toggle="validator">
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">그룹명 <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" id="groupName" name="groupName" required="required" class="form-control " value="" >
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">설명 <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" id="description" name="description" required="required" class="form-control" value="" >
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">메뉴별 권한 <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 ">
                                <table class="table table-bordered">
                                    <tr th:each="adminGroupAuth : ${menuAuthList}">
                                        <td style="width:20%" th:text="${adminGroupAuth.getMenu().getTitle()}"></td>
                                        <td style="width:50%">
                                            <select name="auth" th:attr="data-menuseq=${adminGroupAuth.getMenu().getMenuSeq()}" class="form-control group-auth">
                                                <option value="N">권한 없음</option>
                                                <option value="R">읽기</option>
                                                <option value="RA">읽기/승인</option>
                                                <option value="RC">읽기/생성</option>
                                                <option value="RUA">읽기/수정/승인</option>
                                                <option value="RCU">읽기/생성/수정</option>
                                                <option value="RCUD">읽기/생성/수정/삭제</option>
                                                <option value="RCUDA">읽기/생성/수정/삭제/승인</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button class="btn btn-primary" type="button"
                                        onclick="javascript:page_move('/admin/group/search')">목록
                                </button>
                                <button type="button" class="btn btn-success" id="btn_save">등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /right_content -->
<script type="text/javascript">


    $(document).ready(function() {

        //추가 예정
        //$('#dataForm').validator();

        $('#btn_save').click(function(e) {

            var authArray = new Array();
            var authInfo = new Object();

            $('.group-auth').each(function(index, item) {
                authInfo = new Object();

                authInfo.menuSeq = $(this).attr("data-menuseq");
                authInfo.auth = $(this).val();

                authArray.push(authInfo);
            });

            var data = {
                name : $('#groupName').val(),
                description : $('#description').val(),
                arrayAuth : JSON.stringify(authArray)
            }

            $.ajax({
                type : 'POST',
                url : '/admin/group/create.json',
                data : data,
                dataType : 'text',
                success: function (response) {
                    console.log("tttttqetqeteqteq : " + response);
                    $("#content").html(response);
                },
                error: function (response) {
                    console.log(response);
                }
            });

        });

        // $('#btn_list').click(function(e) {
        //     $.ajax({
        //         type	 : "GET",
        //         url		 : "/admin/group/search",
        //         data	 : [],
        //         success :	function(response){
        //             $("#content").html(response);
        //         },
        //         error : function(){
        //             console.log("error!!");
        //             //err_page();
        //             return false;
        //         }
        //     });
        // });
    });

</script>


</html>
